body{
    background-color:white;
}

:root {
    --dark:#083D77;
    --blue:#3993DD;
    --purple:#E0ACD5;
}

body{
    color: var(--blue)
}
img{
    width: 150px;
    padding: 5px;
    float: left;
    border-radius: 75px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
    opacity: .7;
}

header:hover + main article{
    transform: scale(.75) rotate(.02turn);
}

img:hover{
    opacity: 1;
}

main{
    background-color: var(--dark);
    height: 90vh;

}

footer, nav{
    background-color: var(--blue);
    padding: 10px;
}

footer{
    border-top: solid var(--purple);
}

h1{
    margin-top: 0px;
    padding: 25px 50px;
    text-shadow: 2px 2px var(--purple);
}

h4{
    height: 100px;
    text-align: justify;
    margin-right: 20px;
}

nav > a {
    color:var(--purple);
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px 11px;
    background-color: var(--dark);
    border: 1px solid var(--purple);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom: 0px;
    margin: 10px;
}

nav > a:hover{
    background-color: var(--purple);
    color: var(--dark);
}

article{
    background-color: var(--purple);
    padding-top: 100px;
    color: var(--dark);
    width:300px;
    height:200px;
    float: left;
    box-shadow: 5px 5px var(--blue);
    margin: 50px;
    transform: rotate(.02turn);
}

article:hover{
    transform:none;
}