.container{
    background-color: grey;
    font-weight:bold;

}

.inner1{
    background-color:tomato;
}
.inner2{
    background-color:cornflowerblue;
}
.inner3{
    background-color:plum;
}

@media (max-width: 1440px){
    .inner1{
        background-color:rosybrown;
    }
    .inner2{
        background-color: salmon;
    }
    .inner3{
        background-color: lemonchiffon;
    }
}

@media (max-width: 768px) and (min-width:481px){
    .container{
        display:grid;
        grid-template-columns: :auto, auto;
        grid-template-rows: auto;
        grid-template-areas: 
                        "topleft topright"
                        "bottom bottom"
    }
    .inner1{
        grid-area: topleft;
    }
    .inner2{
        grid-area: topright;
    }
    .inner3{
        grid-area: bottom;
    }
}
@media (max-width: 480px){
    .container{
        display: flex;
        justify-content: space-around;
    }
    [class|="inner"]{
        flex:1;
    }
}